/* reset generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variabili colore */
:root {
    --header-background-img: #255DE9;
    --navbar_TRASP: #ffffff5e;
    --logo:green;
    --menu:red;
    --menu-items:#accd2b94;
    --bottone: purple;
    --hero: #ffffff5e;
    --box-img: yellow;
    --box-text: brown;
    --section-withe: white;
    --section-gray: gray;
    --footer-background: #23272A;
    --footer-item: #ccff00;


}


/* parte principale header e hero */
header {
    background-color: var(--header-background-img);
    width: 100%;
    height: 500px;
}

.flex {
    display: flex;
}


nav {
    background-color: var(--navbar_TRASP);
    width: 100%;
    height: 20%;
    justify-content: space-around;
    padding:20px;


}
nav figure {
    background-color: var(--logo);
    flex-basis: 300px;
    height: 50px;

}
nav div {
    background-color: var(--menu);
    flex-basis: 600px;
    height: 50px;
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
#menu span {
    background-color: var(--menu-items);
    flex-basis: 50px;
    height: 20px;
}

nav button {
    background-color: var(--bottone);
    flex-basis: 300px;
    height: 50px;
}


#box-hero div { 
    background-color: var(--hero);
    margin: 0 auto;
    margin-top: 20px;
    height: 300px;
    width: 60%;
    
}
/* inizio main */
.container-80 {
    width: 80%;
    margin: 0 auto;
}
.bg-gray {
    background-color: var(--section-gray);
}

/* classe flex e sfondo bianco */
.section-white
{
    background-color: var(--section-withe);
    height: 500px;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
}

.section-white figure {
    background-color: var(--box-img);
    flex-basis: 60%;
    height: 400px ;
}
.section-white div {
    background-color: var(--box-text);
    flex-basis: 40%;
    height: 400px ;
}
/* classe flex senza sfonfo cosi prende il colore dato al body */
.section-gray {
    height: 500px;
    /* justify-content: center;
    align-items: center; */
    gap: 20px; 
     
}
.section-gray div {
    background-color: var(--box-text);
    flex-basis: 40%;
    height: 400px ;
}
.section-gray figure {
    background-color: var(--box-img);
    flex-basis: 60%;
    height: 400px ;
}
/* classe flex senza sfondo in colonna */
.section-gray-column {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-around;
    align-items: center;
}
.section-gray-column div {
    background-color: var(--box-text);
    flex-basis: 100px;
    width: 500px;
    
}
.section-gray-column figure {
    background-color: var(--box-img);
    flex-basis:  400px;
    width: 1000px ;
}
/* start footer */
footer {
    background-color: var(--footer-background);
    width: 100%;
    padding: 70px;


}

/* contenitore top */
#container-footer-top{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 300px;
    
}

#container-footer-top section {
    background-color: var(--footer-item);
    flex-basis: 300px;
    height: 20px;
}

#container-footer-top div{
    background-color: var(--footer-item);
    flex-basis: 50px;
    height: 20px;

}
/* contenitore bottom */
#container-footer-bottom {
    display: flex;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid var(--footer-item);
    

}

#container-footer-bottom figure  {
    background-color: var(--footer-item);
    flex-basis: 50px;
    height: 20px;
}
#container-footer-bottom button {

    background-color: var(--footer-item);
    flex-basis: 100px;
    height: 20px;
}

